body{
    background-image: url("/images/Baltoro_glacier_from_air.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    background-size: fill;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13pt;
    font-family: monospace;
    text-align: justify;
    color: khaki;
}

.title{
    font-size: 28pt;
    font-family: monospace;
    color: lavenderblush;
}

img.resize{
    max-width: 100%;
}


